<div class="container">
        <div class="box">

            <h1>Tela de acesso</h1>

            <label for="email">EMAIL</label>
            <input type="email" id="email" placeholder="admin@sistema.com.br">

            <label for="senha">SENHA</label>
            <input type="password" id="senha" placeholder="•••••">

            <div class="links">
                <a href="#">ESQUECI MINHA SENHA</a><br>
                <a href="#">SEM ACESSO? CADASTRE-SE</a>
            </div>

            <button>ENTRAR</button>

        </div>
    </div>